/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--text-color);
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px; /* 130% */
  background: var(--background-color) var(--background-image) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: var(--block-offset);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--block-offset);
  right: var(--block-offset);
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorated-color);
  border-right: 1px solid var(--decorated-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--block-offset);
  left: var(--block-offset);
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decorated-color);
  border-left: 1px solid var(--decorated-color);
}

.header__decor-element {
  position: absolute;
  top: var(--block-offset);
  right: calc(28px + var(--block-offset));
  color: var(--decorated-rec-color);
  line-height: 25px;
  text-transform: uppercase;
}

.header__decor-element::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9px;
  height: 9px;
  margin-inline-start: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2.5px var(--decorated-rec-color);
  background-color: var(--decorated-rec-color);
  transform: translateY(-50%);
}

.title {
  color: var(--heading-text-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  text-shadow: 4px 4px 0px var(--accent-color);
}

.header__title {
  grid-area: title;
  margin-block-start: 66px;
}

.title-decor {
  background-color: var(--accent-color);
}

.header__subtitle {
  grid-area: subtitle;
  margin-block-start: 55px;
  color: var(--title-text-color);
  font-weight: 700;
}

.header__theme-menu {
  grid-area: menu;
  align-self: flex-end;
  padding-block-start: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12.5px 4px;
  color: var(--decorated-color);
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  background: none;
  cursor: pointer;
  appearance: none;
}

.header__theme-menu-button:not(:disabled):hover {
  border-color: var(--hover-color);
}

.header__theme-menu-button:focus {
  border-bottom-color: var(--decorated-color);
}

.header__theme-menu-button_active {
  border-color: var(--decorated-color);
  pointer-events: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  display: grid;
  gap: 20px;
  padding-inline: var(--block-offset);
}

.section__title {
  color: var(--section-title-color);
  font-weight: 700;
  font-size: 18px;
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-block__title,
.section-group__title {
  color: var(--title-text-color);
  font-size: inherit;
}

.text-block__title_type_subtitle {
  font-weight: 400;
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus {
  outline: 1px solid currentColor;
}

.section-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-group__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image {
  width: 100%;
}

.section.section-gallery {
  gap: var(--block-offset);
}

.section-gallery__wrapper {
  display: grid;
  gap: var(--block-offset);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.footer__title {
  text-shadow: 2px 2px 0px var(--accent-color);
}

@media screen and (width >= 768px) {
  .header {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr 1.5fr 1fr;
    grid-template-areas:
      ".     menu"
      "title title"
      ".     subtitle";
    align-items: center;
  }

  .header__theme-menu {
    justify-self: self-end;
    margin: 0;
    padding-block-end: 10px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin: 0;
    transform: translateX(-20px);
  }

  .header__subtitle {
    align-self: self-start;
    margin: 0;
  }

  .content {
    gap: 80px;
  }

  .page {
    gap: 60px;
  }

  .section-why,
  .section-what,
  .section-how {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .section-what__list {
    grid-column: span 3;
  }

  .section-gallery__wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:
      minmax(192px, 25%)
      minmax(230px, 30%)
      minmax(318px, 45%);
    grid-template-areas:
      "img1 img1 img2"
      "img3 img4 img2"
      "img3 img5 img5";
  }

  .section-gallery__image {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .section-gallery__image:nth-child(1) {
    grid-area: img1;
  }

  .section-gallery__image:nth-child(2) {
    grid-area: img2;
  }

  .section-gallery__image:nth-child(3) {
    grid-area: img3;
  }

  .section-gallery__image:nth-child(4) {
    grid-area: img4;
  }

  .section-gallery__image:nth-child(5) {
    grid-area: img5;
  }
}

@media screen and (width >= 1024px) {
  .header__subtitle {
    margin-block-start: 23px;
  }

  .header__theme-menu {
    grid-column: span 2;
    justify-self: center;
    align-self: self-start;
    padding: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section {
    gap: 10px;
  }

  .section-what__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .section-what__title {
    margin-block-end: 10px;
  }
}
