/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff8dcb;
  --background-image: url("/images/cover-image-light.png");
  --background-color: #fff1f7;
  --text-color: #353430;
  --text-shadow-color: #ff0070;
}
